@model WishList.Models.Item

@{
    ViewData["Title"] = "Index";
}

<h1>Wishlist</h1>

<a asp-action="create">Add Item</a>

<ul>
    @foreach (var Item in Model)
    {
    <li>
        @Html.DisplayFor(modelItem => Item.Description)
        <a asp-action="Delete" asp-route-id="Id">Delete</a>
    </li>
    }
</ul>
